* {
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  font-family: "Quicksand", sans-serif;
  padding: 10px 10px;
  width: 300px;
  border: none;
  border-radius: 5px;
  background-color: rgb(235, 235, 235);
}

button {
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  cursor: pointer;
  padding: 10px 10px;
  border: none;
  border-radius: 5px;
  background-color: rgb(235, 235, 235);
}

button:hover {
  opacity: 75%;
}

.list-container {
  display: flex;
  flex-direction: column;
}

.list-container h2 {
  background-color: rgb(235, 235, 235);
  text-align: center;
  padding: 10px 10px;
}

.student-information {
  display: flex;
  gap: 100px;
}

.full-name,
.student-id,
.major {
  font-weight: bold;
  width: 250px;
  text-align: center;
}

.full-name p,
.student-id p,
.major p {
  font-weight: initial;
}
